.login-page {
  display:flex;
  height: 394px;
}
.logged-in-container{
  width: 100%;
  height: 100%;
}

.outer-logo-container {
  width: 198px;
  background-color:#dadde6;
  display:flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 125px;
  height: 141px;
}
.title-logo{
  height:24px;
  font-family: 'Oswald', sans-serif;
  color: #728ad8;
}
.login-form-container{
  background-color: #262a34;
  width: 340px;
  display:flex;
  flex-direction: column;
}

.login-form{
  display:flex;
  flex-direction:column;
  margin: 35% 0 0 0;
}

.input-box {

  // height: 15px;
  // border: 1px #AFB189 solid;
  // background-color: #FBFEC4;
  // border-radius: 3px;
  width: 85%;
  background-color: inherit;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 35px;
  border-bottom: 1px solid grey;
}
