<!DOCTYPE html>
<html>
  <head>
    <title>TalkToMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" />
    <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
